@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777;
  padding: 3rem; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem; }
  .heading-primary--main {
    display: block;
    font-size: 3rem;
    font-weight: 300;
    padding-top: 2rem;
    padding-left: 2rem;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
  }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 300;
    padding-left: 2rem;
    animation: moveInRight 1s ease-out;
  }

.feature-box__title {
  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}

.feature-box__text {
  animation: moveInRight 1s ease-out;
}

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, rgba(126, 213, 111, 0.16), rgba(40, 180, 133, 0.64));
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: .2rem;
  transition: all .2s; }
  .heading-secondary:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2);
  }

.main {
  background-color: #f7f7f7;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.05), rgba(234, 234, 234, 0.8)), url(../img/main.jpg);
  height: 95vh;
  background-size: cover;
  background-position: top;
  position: relative;
  /*-webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);*/
  /*clip-path: polygon(0 0, 100% 0,100% 75vh, 0 100%);*/
}
.contact {
  background-color: #f7f7f7;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.05), rgba(234, 234, 234, 0.8)), url(../img/main2.jpg);
  height: 95vh;
  background-size: cover;
  background-position: top;
  position: relative;
  /*-webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);*/
  /*clip-path: polygon(0 0, 100% 0,100% 75vh, 0 100%);*/
}
div.social{
  padding-top: 1rem;
  animation: moveInLeft 1s ease-out;
}
.social img{
  margin: 0 1rem;
  opacity: 50%;
}
  .header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem; }
  .header__logo {
    height: 3.5rem; }
  .header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: left;
  }

.navigation__checkbox {
  display: none; }

.navigation__button {
  background-color: #fff;
  height: 7rem;
  width: 7rem;
  position: fixed;
  top: 6rem;
  right: 6rem;
  border-radius: 50%;
  z-index: 2000;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer; }

.navigation__background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  background-image: radial-gradient(#7ed56f, #28b485);
  z-index: 1000;
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1); }

.navigation__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  opacity: 0;
  width: 0;
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55); }

.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%; }

.navigation__item {
  margin: 1rem; }

.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  font-size: 2rem;
  font-weight: 300;
  padding: 1rem 2rem;
  color: rgba(0, 0, 0, 0.8);
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
  background-size: 220%;
  transition: all .4s; }
  .navigation__link:link span, .navigation__link:visited span {
    margin-right: 1.5rem;
    display: inline-block; }

.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: #000000;
  transform: translateX(1rem); }

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 1.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transition: transform .3s;
}
.feature-box:hover {
  transform: translateY(-1.5rem) scale(1.03); }

@media only screen and (min-width: 750px) {
  .navigation {
    display: flex;
    flex-direction: row-reverse;
    animation: moveInRight 1s ease-out;
  }
  .feature-box {
    font-size: 2rem;
    font-weight: 300;
  }
}

@media only screen and (max-width: 749px) {
  .navigation {
    text-align: center;
    display: flex;
    flex-direction: column;
    animation: moveInRight 1s ease-out;
  }
  .feature-box {
    font-size: 1.5rem;
    font-weight: 300;
  }
}
